@keyframes ldio-zcsu9d75i1 {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.preloader-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ldio-zcsu9d75i1 > div {
  animation: ldio-zcsu9d75i1 1s infinite linear;
  transform-origin: 122px 122px;
}
.ldio-zcsu9d75i1 > div div {
  position: absolute;
}
.ldio-zcsu9d75i1 > div div:nth-child(1),
.ldio-zcsu9d75i1 > div div:nth-child(2) {
  width: 104.92px;
  height: 104.92px;
  border: 7.32px solid;
  border-radius: 50%;
  border-color: transparent #1baa31 #1baa31 #1baa31;
  box-sizing: border-box;
  position: absolute;
  transform: rotate(45deg);
  transform-origin: 122px 122px;
}
.ldio-zcsu9d75i1 > div div:nth-child(1) {
  transform: rotate(45deg) translate(69.53999999999999px, 69.53999999999999px);
}
.ldio-zcsu9d75i1 > div div:nth-child(2) {
  transform: rotate(9.899999999999999deg)
    translate(69.53999999999999px, 69.53999999999999px);
}
.ldio-zcsu9d75i1 > div div:nth-child(3) {
  width: 0;
  height: 0;
  border: 21.96px solid;
  border-color: transparent transparent transparent #1baa31;
  transform: translate(122px, 58.56px);
}
.loadingio-spinner-reload-17bw870sg7b {
  width: 244px;
  height: 244px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-zcsu9d75i1 {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-zcsu9d75i1 div {
  box-sizing: content-box;
}
